<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body onload="findRoommate()">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div id="results">
    
        </div>
        <a href="/">Try the Roommate Finder Again</a>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
       
    <% include ../partials/script %>
</body>
</html>
