<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <form action="/submit" method="POST">
            <label for="q_1"><h2>Question 1</h2></label>
            <label for="q_2"><h2>Question 2</h2></label>
            <label for="q_3"><h2>Question 3</h2></label>
            <label for="q_4"><h2>Question 4</h2></label>
            <label for="q_5"><h2>Question 5</h2></label>
            <label for="q_6"><h2>Question 6</h2></label>
            <label for="q_7"><h2>Question 7</h2></label>
            <label for="q_8"><h2>Question 8</h2></label>
            <label for="q_9"><h2>Question 9</h2></label>
            <label for="q_10"><h2>Question 10</h2></label>
        
        </form>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
       
    <% include ../partials/script %>
</body>
</html>
